# Fala devs, blz?? 

Esta será nossa quinta lista de exercícios para você testar seu conhecimento acerca do conteúdo do MÓDULO 3:

-Pandas I

Para esta lista de exercícios utilizaremos uma base de dados contendo informações sobre a performance de alunos em exames
. A base de dados está disponível para download na plataforma Kaggle a partir do link abaixo:

https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

## QUESTÃO 0

Carregue os dados do arquivo "StudentPerformance.csv" em um DataFrame com nome "df" e mostre as primeiras suas 10 primeiras linhas. 
<br>
*Certifique-se de que o arquivo se encontra no mesmo diretorio da lista 5.

In [3]:
import pandas as pd

#seu código começa aqui

df = pd.read_csv("StudentsPerformance.csv")

df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

Agora mostre as 10 **últimas** linhas do DataFrame.

In [4]:
df.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## QUESTÃO 1

**Exploração Inicial dos Dados**

a) Verifique o número de linhas e colunas no DataFrame. **(.shape)**

In [4]:
#SEU CÓDIGO COMEÇA AQUI
df.shape

(1000, 8)

b) Liste as colunas presentes no DataFrame. **(.columns)**

In [5]:
#SEU CÓDIGO COMEÇA AQUI
xis= df.columns
print(xis)

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

c) Verifique se há valores nulos em cada coluna.

In [12]:
#SEU CÓDIGO COMEÇA AQUI
df.isnull()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False

## QUESTÃO 2

a) Antes de começarmos a trabalhar com os dados é preciso descartar dados que não serão utilizados em nossa análise. Utilize a lista abaixo para remover colunas irrelevantes.

In [5]:
remover = ["parental level of education","lunch"]

df.drop(["parental level of education","lunch"], axis=1, inplace= True)
print(df)

     gender race/ethnicity test preparation course  math score  reading score  \
0    female        group B                    none          72             72
1    female        group C               completed          69             90
2    female        group B                    none          90             95
3      male        group A                    none          47             57
4      male        group C                    none          76             78
..      ...            ...                     ...         ...            ...
995  female        group E               completed          88             99
996    male        group C                    none          62             55
997  female        group C               completed          59             71
998  female        group D               completed          68             78
999  female        group D                    none          77             86

     writing score
0               74
1               88
2               93
3               44
4               75
..             ...
995             95
996             55
997             65
998             77
999             86

[1000 rows x 6 columns]

b) Agora utilize o dicionário abaixo para renomear as colunas restantes.

In [6]:
nome_colunas = {
    "gender": "Gênero",
    "race/ethnicity": "Raça/Etnia",
    "test preparation course": "Curso_Prep",
    "math score" : "Nota_Matemática",
    "reading score":"Nota_Leitura",
    "writing score" : "Nota_Redação"
}
df.rename(columns= nome_colunas, inplace=True)
#SEU CÓDIGO COMEÇA AQUI
print(df)

     Gênero Raça/Etnia Curso_Prep  Nota_Matemática  Nota_Leitura  Nota_Redação
0    female    group B       none               72            72            74
1    female    group C  completed               69            90            88
2    female    group B       none               90            95            93
3      male    group A       none               47            57            44
4      male    group C       none               76            78            75
..      ...        ...        ...              ...           ...           ...
995  female    group E  completed               88            99            95
996    male    group C       none               62            55            55
997  female    group C  completed               59            71            65
998  female    group D  completed               68            78            77
999  female    group D       none               77            86            86

[1000 rows x 6 columns]

## QUESTÃO 3

Crie um DataFrame com as estatísticas descritivas de cada coluna com valores númericos. Estatísticas descritivas incluem dados como: média, mediana, desvio padrão, mínimo e máximo para cada uma dessas colunas.

In [7]:
#SEU CÓDIGO COMEÇA AQUI
dataframez=df.describe()
dataframez.head

<bound method NDFrame.head of        Nota_Matemática  Nota_Leitura  Nota_Redação
count       1000.00000   1000.000000   1000.000000
mean          66.08900     69.169000     68.054000
std           15.16308     14.600192     15.195657
min            0.00000     17.000000     10.000000
25%           57.00000     59.000000     57.750000
50%           66.00000     70.000000     69.000000
75%           77.00000     79.000000     79.000000
max          100.00000    100.000000    100.000000>

## QUESTÃO 4

Crie um novo DataFrame contendo apenas os alunos que tiveram nota maior que a média em todos os exames chamado "df_acima_media". Mostre o DataFrame resultante e quantos dos alunos totais estão na nova tabela.

In [8]:
df_acima_media = df[(df['Nota_Matemática'] > 66.08)&(df['Nota_Leitura']>df['Nota_Leitura'].mean())&(df['Nota_Redação']>68.0)]
df_acima_media

     Gênero Raça/Etnia Curso_Prep  Nota_Matemática  Nota_Leitura  Nota_Redação
0    female    group B       none               72            72            74
1    female    group C  completed               69            90            88
2    female    group B       none               90            95            93
4      male    group C       none               76            78            75
5    female    group B       none               71            83            78
..      ...        ...        ...              ...           ...           ...
989  female    group D  completed               67            86            83
990    male    group E  completed               86            81            75
995  female    group E  completed               88            99            95
998  female    group D  completed               68            78            77
999  female    group D       none               77            86            86

[374 rows x 6 columns]

## QUESTÃO 5

Crie uma nova coluna no Dataframe "df" com o nome "Nota_Geral" que represente a média da nota de cada aluno nas 3 disciplinas. Utilize esta nova coluna para ordenar os alunos de acordo com sua nota de forma que o aluno com maior nota geral esteja na primeira linha do DataFrame.

In [9]:
#SEU CÓDIGO COMEÇA AQUI
df['Nota Geral'] = ((df['Nota_Matemática']+df['Nota_Leitura']+df['Nota_Redação'])/3)
df_ranking = df.sort_values(by='Nota Geral', ascending =False)
df_ranking.head
df_ranking.tail

<bound method NDFrame.tail of      Gênero Raça/Etnia Curso_Prep  Nota_Matemática  Nota_Leitura  \
916    male    group E  completed              100           100
458  female    group E       none              100           100
962  female    group E       none              100           100
114  female    group E  completed               99           100
179  female    group D  completed               97           100
..      ...        ...        ...              ...           ...
76     male    group E       none               30            26
327    male    group A       none               28            23
596    male    group B       none               30            24
980  female    group B       none                8            24
59   female    group C       none                0            17

     Nota_Redação  Nota Geral
916           100  100.000000
458           100  100.000000
962           100  100.000000
114           100   99.666667
179           100   99.000000
..            ...         ...
76             22   26.000000
327            19   23.333333
596            15   23.000000
980            23   18.333333
59             10    9.000000

[1000 rows x 7 columns]>

## QUESTÃO 6

a) Conte quantos dos alunos pertencem a cada gênero.

In [12]:
#SEU CÓDIGO COMEÇA AQUI
genero= df['Gênero'].value_counts()
print(genero)

Gênero
female    518
male      482
Name: count, dtype: int64

b) Conte quantos dos alunos pertencem a cada Raça/Etnia.

In [14]:
#SEU CÓDIGO COMEÇA AQUI
Raça_Etnia= df['Raça/Etnia'].value_counts()
print(Raça_Etnia)

Raça/Etnia
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

c) Conte quantos dos alunos realizaram ou não algum curso preparatório.

In [17]:
#SEU CÓDIGO COMEÇA AQUI
Curso_Prepa= df['Curso_Prep'].value_counts()
print(Curso_Prepa)

Curso_Prep
none         642
completed    358
Name: count, dtype: int64

## QUESTÃO 7

Neste exercício deseja-se observar se o gênero de um aluno tem influência sobre seu acesso a cursos preparatórios. Para realizar esta tarefa agrupe os alunos de acordo com seus respectivos genêros (.groupby) e obtenha as proporções daqueles que realizaram algum curso e aqueles que não para cada um dos grupos (para obter a contagem da frequência relativa de um valor utilize **normalize=True**).

In [22]:
#SEU CÓDIGO COMEÇA AQUI

gender = df.groupby('Gênero')
print(gender)

media = gender["Curso_Prep"].value_counts(normalize=True)

media

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001EB103A7F50>

Gênero  Curso_Prep
female  none          0.644788
        completed     0.355212
male    none          0.639004
        completed     0.360996
Name: proportion, dtype: float64

## QUESTÃO 8

Neste exercício deseja-se observar qual das disciplinas examindas (Matemática, Leitura, Redação) é mais influênciada por cada um dos fatores qualitivos (Gênero, Raça/Etnia, Realização de Curso Preparatório). Para isso, agrupe a base de dados para cada um dos fatores qualitativos e calcule a diferença entre a maior e menor nota média em cada uma das disciplinas. A disciplina que possuir maior diferença entre as notas médias será considerada a mais influênciada.

a) Qual disciplina possui a maior diferença entre as notas médias de homens e mulheres.

In [50]:
#SEU CÓDIGO COMEÇA AQUI
medmAT = df.groupby('Gênero')['Nota_Matemática'].mean().max() - df.groupby('Gênero')['Nota_Matemática'].mean().min()
print(medmAT)
medlei = df.groupby('Gênero')['Nota_Leitura'].mean().max() - df.groupby('Gênero')['Nota_Leitura'].mean().min()
print(medlei)
medred = df.groupby('Gênero')['Nota_Redação'].mean().max() - df.groupby('Gênero')['Nota_Redação'].mean().min()
print(medred)

5.095011134430216
7.135079062464953
9.155978147679384

b) Qual disciplina possui a maior diferença entre a maior e menor nota média dentre as diferentes Raças/Etnias.

In [51]:
#SEU CÓDIGO COMEÇA AQUI
medmAT = df.groupby('Raça/Etnia')['Nota_Matemática'].mean().max() - df.groupby('Raça/Etnia')['Nota_Matemática'].mean().min()
print(medmAT)
medlei = df.groupby('Raça/Etnia')['Nota_Leitura'].mean().max() - df.groupby('Raça/Etnia')['Nota_Leitura'].mean().min()
print(medlei)
medred = df.groupby('Raça/Etnia')['Nota_Redação'].mean().max() - df.groupby('Raça/Etnia')['Nota_Redação'].mean().min()
print(medred)

12.192215088282502
8.354414125200634
8.732985553772075

c) Qual disciplina possuir a maior diferença entre as notas médias daqueles que realizaram ou não cursos preparatórios.

In [55]:
#SEU CÓDIGO COMEÇA AQUI
medmAT = df.groupby('Curso_Prep')['Nota_Matemática'].mean().max() - df.groupby('Curso_Prep')['Nota_Matemática'].mean().min()
print(medmAT)
medlei = df.groupby('Curso_Prep')['Nota_Leitura'].mean().max() - df.groupby('Curso_Prep')['Nota_Leitura'].mean().min()
print(medlei)
medred = df.groupby ('Curso_Prep')['Nota_Redação'].mean().max() - df.groupby('Curso_Prep')['Nota_Redação'].mean().min()
print(medred)

5.617649106319291
7.359586835830754
9.914321516211558

## QUESTÃO 9

Neste exercício deseja-se observar qual dos fatores qualitativos (Gênero, Raça/Etnia, Realização de Curso Preparatório) possui maior discrepância de desempenho entre suas categorias para a nota geral do exame. Para isso, calcule a diferença entre a maior e menor nota média para cada um dos fatores e indique qual teve maior diferença. Utilize as funções (.groupby) e (.mean).

Qual das colunas possui maior discrepância para as Notas Gerais?

In [70]:
#SEU CÓDIGO COMEÇA AQUI
medCurso = df.groupby('Curso_Prep')['Nota Geral'].mean().max()- df.groupby('Curso_Prep')['Nota Geral'].mean().min()
print(medCurso)
medRaEt= df.groupby('Raça/Etnia')['Nota Geral'].mean().max() - df.groupby('Raça/Etnia')['Nota Geral'].mean().min()
print(medRaEt)
medGe= df.groupby('Gênero')['Nota Geral'].mean().max() - df.groupby('Gênero')['Nota Geral'].mean().min()
print(medGe)

7.630519152787201
9.759871589085087
3.732015358571374